$background-color: #eee;
$text-color: #444;
$base-margin: 40px;

body {
    background: $background-color;
    color: $text-color;
    margin: 0;
}
@import 'foundation/reset';
@import 'layout/App';
@import 'object/SearchForm';
@import 'object/GeocodeResult';
@import 'object/HotelsTable';
@import 'object/HotelsClickableTh';